<div class="bar bar-header">
  <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/tab-dash2"></a>
  <div class="h1 title">$$$ Dranks with the CEOs</div>
</div>

<ion-view view-title="Dashboard">
<ion-content class="padding">

<br>
<br>
<br>



<div class="row">
  <div class="col col-16.7"><center><img src="img/circle/ceogatesg.png" width="50" height="50"></center></div>
  <div class="col col-16.7"><center><img src="img/circle/ceobezosg.png" width="50" height="50"></center></div>
  <div class="col col-16.7"><center><img src="img/circle/ceomarkg.png" width="50" height="50"></center></div>
  <div class="col col-16.7"><center><img src="img/circle/ceorichardg.png" width="50" height="50"></center></div>
  <div class="col col-16.7"><center><img src="img/circle/ceowarreng.png" width="50" height="50"></center></div>
  <div class="col col-16.7"><center><img src="img/circle/youg.png" width="50" height="50"></center></div>
</div>



<button class="button button-block button-large button-balanced button-outline">
  <b>Schedule</b>: June 5 - Tues, 5-9 PM
</button>


<div class="list card">

  <div class="item">
    <center>
      <h1>#1: Ramen House</h1>
  <center>
  </div>

  <div class="item item-image">
    <img src="img/ramen.jpg">
  </div>

</div>





<br>

<div class="list">

  <div class="item item-divider">
    Messages:
  </div>

    <a class="item item-avatar item-text-wrap">
      <img src="img/circle/youi.png">
      <h2>You</h2>
      <p>Gentlemen, I’ve gathered you here today to work for me and my startup.</p>
    </a>   
    <a class="item item-avatar item-text-wrap">
      <img src="img/circle/ceogatesi.png">
      <h2>CEO Bill Gates, Microsoft</h2>
      <p>I'm down. I can advise you on C++ and C#.</p>
    </a>
    <a class="item item-avatar item-text-wrap">
      <img src="img/circle/ceobezosi.png">
      <h2>CEO Jeff Bezos, Amazon</h2>
      <p>Shall we discuss your captable over dranks?</p>
    </a>   
    <a class="item item-avatar item-text-wrap">
      <img src="img/circle/ceomarki.png">
      <h2>CEO Mark Zuckerberg, Facebook</h2>
      <p>What's your design plan? Thinking of using CS247's methodologies?</p>
    </a>     
    <a class="item item-avatar item-text-wrap">
      <img src="img/circle/ceowarreni.png">
      <h2>Warren Buffet, Boss</h2>
      <p>I don’t know much about computers, but I can give you all the money you need. Because I have the most money here. Let me pay our drinks, once we hopefully choose Roscos</p>
    </a>       

</div>


<div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Message..">
    </label>
    <button class="button button-small button-positive">
      Send
    </button>
  </div>

</div>

    
  </ion-content>
</ion-view>
