<div class="bar bar-header">
	<a class="button icon-left ion-chevron-left button-clear button-dark" href="#/tab-dash2"></a>
  <div class="h1 title">Celebrity Party! $wag</div>
</div>

<ion-view view-title="Dashboard">
<ion-content class="padding">

<br>
<br>
<br>




<div class="row">
  <div class="col col-16.7"><center><img src="img/CelebritiesjustinGreen.png" width="50" height="50"></center></div>
  <div class="col col-16.7"><center><img src="img/CelebritieskanyeGreen.png" width="50" height="50"></center></div>
  <div class="col col-16.7"><center><img src="img/CelebritieswakaGreen.png" width="50" height="50"></center></div>
  <div class="col col-16.7"><center><img src="img/CelebritiesarnoldGreen.png" width="50" height="50"></center></div>
  <div class="col col-16.7"><center><img src="img/CelebritiesmileyGreen.png" width="50" height="50"></center></div>
  <div class="col col-16.7"><center><img src="img/youGreen.png" width="50" height="50"></center></div>
</div>




<button class="button button-block button-large button-balanced button-outline">
  SCHEDULE: May 2 - Tues, 5-9 PM
</button>


<div class="list card">

  <div class="item">
    <center>
      <h1>#1 NOM: SUSHI 88</h1>
  <center>
  </div>

  <div class="item item-image">
    <img src="img/sushi.jpg">
  </div>

</div>

  <a class="item item-avatar item-text-wrap">
    <img src="img/pizza.jpg">
    <h2>#2 NOM: PATXI'S</h2>
  </a>
  <a class="item item-avatar item-text-wrap">
    <img src="img/salad.jpg">
    <h2>#3 NOM: SOUPLANTATION</h2>
  </a>   
  <a class="item item-avatar item-text-wrap">
    <img src="img/waffle.jpg">
    <h2>#4 NOM: ROSCOS</h2>
  </a>  





<br>

<div class="list">

  <div class="item item-divider">
    Group messages history:
  </div>

    <a class="item item-avatar item-text-wrap">
      <img src="img/inseong.jpg">
      <h2>Inseong</h2>
      <p>I think I smell really funny! Sushi can clean me up really well! Let's hopefully go there all together, yay!</p>
    </a>
    <a class="item item-avatar item-text-wrap">
      <img src="img/daniel.jpg">
      <h2>Daniel</h2>
      <p>Stop talking.</p>
    </a>   
    <a class="item item-avatar item-text-wrap">
      <img src="img/daniel.jpg">
      <h2>Daniel</h2>
      <p>Work on 247. Then play Nom.</p>
    </a>     
    <a class="item item-avatar item-text-wrap">
      <img src="img/daniel.jpg">
      <h2>Daniel</h2>
      <p>Gosh.</p>
    </a>   
    <a class="item item-avatar item-text-wrap">
      <img src="img/kelvin.jpg">
      <h2>Kelvin</h2>
      <p>Can't have fun? :(</p>
    </a>        
    <a class="item item-avatar item-text-wrap">
      <img src="img/darren.jpg">
      <h2>Darren</h2>
      <p>Dan's the boss though. Plus, I heard he's funny. Like a boss</p>
    </a>        

</div>


<div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Message..">
    </label>
    <button class="button button-small button-positive">
      Send
    </button>
  </div>

</div>

    
  </ion-content>
</ion-view>
