<div class="bar bar-header">
	<a class="button icon-left ion-chevron-left button-clear button-dark" href="#/tab-dash4"></a>
  <div class="h1 title">Breakfast with Barack</div>
</div>

<ion-view view-title="Dashboard">
<ion-content class="padding">

<br>
<br>
<br>




<div class="row">
  <div class="col col-50"><center><img src="img/circle/politicsobamag.png" width="50" height="50"></center></div>
  <div class="col col-50"><center><img src="img/circle/youg.png" width="50" height="50"></center></div>
</div>


<button class="button button-block button-large button-balanced button-outline">
  <b>Schedule</b>: April 3 - Sat, 9-11 AM
</button>

<div class="list card">

  <div class="item">
    <center>
      <h1>Stacks</h1>
  <center>
  </div>

  <div class="item item-image">
    <img src="img/breakfast/stacks.jpg">
  </div>

</div>


<br>

<div class="list">

  <div class="item item-divider">
    Messages:
  </div>

    <a class="item item-avatar item-text-wrap">
      <img src="img/circle/politicsobamai.png">
      <h2>President Obama</h2>
      <p>I had a meeting with the United Nations Security Council but I can cancel on them.</p>
    </a>     
    <a class="item item-avatar item-text-wrap">
      <img src="img/circle/youi.png">
      <h2>You</h2>
      <p>Word, see you soon Barack!</p>
    </a>        

</div>


<div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Message..">
    </label>
    <button class="button button-small button-positive">
      Send
    </button>
  </div>

</div>

    
  </ion-content>
</ion-view>
