<div class="bar bar-header">
	<a class="button icon-left ion-chevron-left button-clear button-dark" href="#/makeevent4"></a>
  <div class="h1 title">Friends List</div>
</div>

<ion-view view-title="Dashboard">
<ion-content class="padding">

<br>
<br>
<br>



<div class="list">

    <a class="item item-thumbnail-left" id="friends" value="0" onclick="friends();" >
      <img src="img/circle/247wendingi.png">
      <h2>Wending Lu</h2>

    </a>
    
    <a class="item item-thumbnail-left" id="friends2" value="0" onclick="friends2();">
      <img src="img/circle/247johni.png">
      <h2>John Tang</h2>

    </a>
    
    <a class="item item-thumbnail-left" id="friends3" value="0" onclick="friends3();">
      <img src="img/circle/247michaeli.png">
      <h2>Michael Bernstein</h2>

    </a>

    <a class="item item-thumbnail-left" id="friends4" value="0" onclick="friends4();">
      <img src="img/circle/politicsobamai.png">
      <h2>President Obama</h2>

    </a>

    <a class="item item-thumbnail-left" id="friends5" value="0" onclick="friends5();">
      <img src="img/circle/ceorichardi.png">
      <h2>Richard Bransen</h2>

    </a>

</div>


<br>

<a href="#/makeevent4">
  <button class="button button-block button-positive">
      ALL FRIENDS SELECTED
  </button>
</a>
       



    
  </ion-content>
</ion-view>
