<div class="bar bar-header">
	<a class="button icon-left ion-chevron-left button-clear button-dark" href="#/makegroup"></a>
  <div class="h1 title">Friends List</div>
</div>

<ion-view view-title="Dashboard">
<ion-content class="padding">

<br>
<br>
<br>



<div class="list">

    <a class="item item-thumbnail-left">
      <img src="img/darren.jpg">
      <h2>Darren</h2>

    </a>
    
    <a class="item item-thumbnail-left">
      <img src="img/inseong.jpg">
      <h2>Inseong</h2>

    </a>
    
    <a class="item item-thumbnail-left">
      <img src="img/daniel.jpg">
      <h2>Daniel</h2>

    </a>
    
    <a class="item item-thumbnail-left">
      <img src="img/kelvin.jpg">
      <h2>Kelvin</h2>

    </a>

</div>

<br>

<a href="#/makegroup">
  <button class="button button-block button-calm">
      ALL FRIENDS SELECTED
  </button>
</a>
       



    
  </ion-content>
</ion-view>
