<div class="bar bar-header">
  <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/tab/dash"></a>
  <div class="h1 title">Make Group</div>
</div>

<ion-view view-title="Dashboard">
<ion-content class="padding">

<br>
<br>
<br>


<label class="item item-input">
  <span class="input-label">Group Name</span>
  <input type="text">
</label>
       
<br>

<label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="Location..">
</label>

<br>

<div class="button-bar">
  <a class="button"><h5>Breakfst</h5></a>
  <a class="button button-positive"><h5>Lunch</h5></a>
  <a class="button"><h5>Dinner</h5></a>
  <a class="button"><h5>Coffee</h5></a>
  <a class="button"><h5>Drinks</h5></a>
</div>

<br>


<div class="list">
  <div class="item range range-positive">
    <i class="icon ion-social-usd"></i>
    <input type="range" name="volume" min="1" max="4" value="0">
    <i class="icon ion-social-usd"></i>
    <i class="icon ion-social-usd"></i>
    <i class="icon ion-social-usd"></i>
    <i class="icon ion-social-usd"></i>
  </div>
</div>

<a class="item item-icon-left" href="#/friend">
    <i class="icon ion-chatbubble-working"></i>
    Invite Friends
</a>

<br>
    

<a href="#/tab/dash">
<button class="button button-block button-calm">
  HOST NOW!
</button>
</a>



    
  </ion-content>
</ion-view>
