<div class="bar bar-header">
  <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/test"></a>
  <div class="h1 title">Swipe to Nom!</div>
</div>

<ion-view view-title="Dashboard">
<ion-content class="padding">

<br>
<br>
<br>



<div class="list card">

  <div class="item">
    <center>
      <h2>RAMEN</h2>
  <center>
  </div>

  <div class="item item-image">
    <img src="img/ramen.jpg">
  </div>

</div>

<br>

<div class="row">
  <div class="col col-50">
    <center><a href="#/nom5" class="icon ion-close-round" style="font-size: 60px;"></a></center>
  </div>
  <div class="col col-50">
    <center><a href="#/nom5" class="icon ion-checkmark-circled" style="font-size: 60px;"></a></center>
  </div>
</div>


    
  </ion-content>
</ion-view>
