<div class="bar bar-header">
  <div class="h1 title">Events</div>
</div>


<ion-view view-title="Dashboard">
<ion-content class="padding">


<br>
<br>
<br>


<ul class="list">
  <a class="item item-icon-left" href="#/waiting247">
    <i class="icon ion-person-stalker"></i>
    247 Gathering
    <br>
    <h4><b>Host: </b>You</h4>
    <span class="badge badge-stable">waiting</span>
  </a>

  <a class="item item-icon-left" href="#/waitingpolitics4">
    <i class="icon ion-person-stalker"></i>
    Political Outting
    <br>
    <h4><b>Host: </b>President Obama</h4>
    <span class="badge badge-stable">waiting</span>
  </a>



  <a class="item item-icon-left" href="#/donecelebrity4">
    <i class="icon ion-person-stalker"></i>
    Celebrity Party! $wag
    <br>
    <h4><b>Host: </b>Justin Bieber</h4>
    <span class="badge badge-balanced">DONE</span>
  </a>
  <a class="item item-icon-left" href="#/doneceo4">
    <i class="icon ion-person-stalker"></i>
    $$$ Dranks with the CEOS
    <br>
    <h4><b>Host: </b>You</h4>
    <span class="badge badge-balanced">DONE</span>
  </a>

  <a class="item item-icon-left" href="#/doneobama">
    <i class="icon ion-person-stalker"></i>
    Breakfast with Barack
    <br>
    <h4><b>Host: </b>You</h4>
    <span class="badge badge-balanced">DONE</span>
  </a>

</ul>


<a href="#/makeevent4">
  <button class="button button-block button-positive">
      MAKE NEW EVENT
  </button>
</a>
       
    


    
  </ion-content>
</ion-view>
