<div class="bar bar-header">
  <div class="h1 title">Events</div>
</div>


<ion-view view-title="Dashboard">
<ion-content class="padding">


<br>
<br>
<br>


<ul class="list">

  <a class="item item-icon-left" href="#/event">
    <i class="icon ion-person-stalker"></i>
    247 Group Outting
    <br>
    <h4><b>Event: </b>Dinner • <b>Host: </b>Daniel</h4>
    <span class="badge badge-assertive">$$$</span>
  </a>
  
  <a class="item item-icon-left" href="#/event">
    <i class="icon ion-person-stalker"></i>
    Soccer Team Banquet
    <br>
    <h4><b>Event: </b>Dinner • <b>Host: </b>Joey</h4>
    <span class="badge badge-assertive">$</span>
  </a>
  
  <a class="item item-icon-left" href="#/event">
    <i class="icon ion-person-stalker"></i>
    Catch Up with Darren
    <br>
    <h4><b>Event: </b>Lunch • <b>Host: </b>Darren</h4>
    <span class="badge badge-assertive">$$$</span>
  </a>
  
  <a class="item item-icon-left" href="#/event">
    <i class="icon ion-person-stalker"></i>
    Drinks with the Guys
    <br>
    <h4><b>Event: </b>Drinks • <b>Host: </b>You</h4>
    <span class="badge badge-assertive">$$$$</span>
  </a>
  
  <a class="item item-icon-left" href="#/event">
    <i class="icon ion-person-stalker"></i>
    Date with Onji
    <br>
    <h4><b>Event: </b>Coffee • <b>Host: </b>Onji</h4>
    <span class="badge badge-assertive">$$</span>
  </a>

</ul>


<a href="#/makeevent">
  <button class="button button-block button-positive">
      MAKE NEW GROUP
  </button>
</a>
       
    


    
  </ion-content>
</ion-view>
