<div class="bar bar-header">
	<a class="button icon-left ion-chevron-left button-clear button-dark" href="#/tab-dash3"></a>
  <div class="h1 title">Political Outting</div>
</div>

<ion-view view-title="Dashboard">
<ion-content class="padding">

<br>
<br>
<br>




<div class="row">
  <div class="col col-20"><center><img src="img/circle/politicspalinr.png" width="50" height="50"></center></div>
  <div class="col col-20"><center><img src="img/circle/politicsmccaing.png" width="50" height="50"></center></div>
  <div class="col col-20"><center><img src="img/circle/politicsobamag.png" width="50" height="50"></center></div>
  <div class="col col-20"><center><img src="img/circle/politicsbidenr.png" width="50" height="50"></center></div>
  <div class="col col-20"><center><img src="img/circle/youg.png" width="50" height="50"></center></div>
</div>




<button class="button button-block button-large button-stable">
  waiting for other members.. 
</button>





<br>

<div class="list">

  <div class="item item-divider">
    Messages:
  </div>

    <a class="item item-avatar item-text-wrap">
      <img src="img/circle/politicspalini.png">
      <h2>Sarah Palin</h2>
      <p>I want sushi.</p>
    </a>
    <a class="item item-avatar item-text-wrap">
      <img src="img/circle/politicsbideni.png">
      <h2>VP Joe Biden</h2>
      <p>I want burritos.</p>
    </a>   
    <a class="item item-avatar item-text-wrap">
      <img src="img/circle/politicsobamai.png">
      <h2>President Obama</h2>
      <p>Come on guys, make up your minds.</p>
    </a>     
    <a class="item item-avatar item-text-wrap">
      <img src="img/circle/politicsmccaini.png">
      <h2>John McCain</h2>
      <p>If we can’t agree on politics, we can at least agree on food…</p>
    </a>   
    <a class="item item-avatar item-text-wrap">
      <img src="img/circle/youi.png">
      <h2>You</h2>
      <p>Guys, you don’t have to agree, this is democracy. Vote on your favorite restaurants and the app does the rest for you!</p>
    </a>        

</div>


<div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Message..">
    </label>
    <button class="button button-small button-positive">
      Send
    </button>
  </div>

</div>

    
  </ion-content>
</ion-view>
